# Create API key at https://figma.com - select your name -> settings -> security 
export FIGMA_API_KEY=fig
# Create API key at https://test-mcp.penpot.dev/#/settings/integrations
export PENPOT_API_KEY=pen
